html, body {
  background-color: rgb(241, 237, 242);
  padding-bottom: 15px;

  height: 100%;
}

/* Header */
.header {
  align-items: center;
  background-color: rgb(241, 237, 242);
  color: rgb(11, 34, 58); 
  display: flex;
  justify-content: space-between;
  padding: 0em 1.5em;
}

.header-title {
  display: flex;
  align-items: center;
}
.header-title h1 {
  font-family: 'Inspiration', sans-serif;
  font-size: 2.5em;
  color: rgb(11, 34, 58);
  margin: 0;
  padding: 1px 1px 1px 10px;
}

.header-title h1 a {
  color:  rgb(11, 34, 58);
  text-decoration: none;
}
.header-title h1 a:hover {
  color: white
}

.header-links {
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.0em;
  justify-content: space-evenly;
  list-style-type: none; 
}

.header-links li {
  padding: 15px;
}

.header-links li a {
  color:  rgb(11, 34, 58);
  text-decoration: none;
}

.header-links li a:hover {
  color: white;
}

.sso-links {
  display: flex;
  flex-direction: row;
  justify-content: center;     
  list-style-type: none; 
  padding: 3px;
}

.sso-links li {
  padding: 5px;
}

/* Images */
.johann-image-header {
  width: 34px;
  height: 34px;
  border-radius: 999px;
}

.johann-image {
  border-radius: 25%;
  align-self: center;
  display: flex;
  height: 135px;
  justify-content: center;
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-content, 
.page-content-project {
  background-color: rgb(225, 199, 229);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.0em;
  margin: 5px 35px 0px 0px;
  width: 100%;
}

.page-content h2, 
.page-content-project h2 {
  color: rgb(11, 34, 58);
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 15px;
}

.page-profile {
  background-color: rgb(238, 223, 241);
  margin: 5px 0px 0px 35px;
  padding: 5px 22px 15px 10px;
  width: 250px;
}

.paragraph,
.page-content-project .paragraph {
  padding: 0px 15px 10px 15px;
  margin: 0px 150px;
}

.now-professional, .now-personal, .now-location {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  margin-left: 150px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.list-now-professional, .list-now-personal, .list-now-location {
  /* list-style-type: none; */
  margin: 0px 0px 0px 200px;
}

/* Project Page */
.recipes-target,
.landing-page-target,
.rock-paper-scissors-target,
.etch-a-sketch-target,
.calculator-target {
  width: 250px;
  height: 150px;
  padding: 0px 30px 0px 0px;
  margin: 0px 150px 0px 15px;
  
}

.recipes-image,
.landing-page-image,
.rock-paper-scissors-image,
.etch-a-sketch-image,
.calculator-image {
  border-radius: 15px 15px;
  width: 100%;
  height: 100%;
  object-position: 60% 0%;
  object-fit: fill;
  
}

.recipes-content,
.landing-page-content,
.rock-paper-scissors-content,
.etch-a-sketch-content,
.calculator-content {
  display: flex;
  flex-direction: row;
}

.page-content-project h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  margin-left: 150px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 0px;
} 

.paragraph-recipes,
.paragraph-landing-page, 
.paragraph-rock-paper-scissors,
.paragraph-etch-a-sketch,
.paragraph-calculator {  
  width: 650px;
  padding: 0px 0px 15px 15px;
  margin: 0px 0px 0px 150px; 
}