html, body {
  background-color: rgb(241, 237, 242);
  height: 100%;
}

/* Header */
.header {
  align-items: center;
  background-color: rgb(241, 237, 242);
  color: rgb(11, 34, 58); 
  display: flex;
  justify-content: space-between;
  padding: 0em 1.5em;
}

.header-title {
  display: flex;
  align-items: center;
}
.header-title h1 {
  font-family: 'Inspiration', sans-serif;
  font-size: 2.5em;
  color: rgb(11, 34, 58);
  margin: 0;
  padding: 1px 1px 1px 10px;
}

.header-title h1 a {
  color:  rgb(11, 34, 58);
  text-decoration: none;
}
.header-title h1 a:hover {
  color: white
}

.header-links {
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.0em;
  justify-content: space-evenly;
  list-style-type: none; 
}

.header-links li {
  padding: 15px;
}

.header-links li a {
  color:  rgb(11, 34, 58);
  text-decoration: none;
}

.header-links li a:hover {
  color: white;
}

.sso-links {
  display: flex;
  flex-direction: row;
  justify-content: center;     
  list-style-type: none; 
  padding: 3px;
}

.sso-links li {
  padding: 5px;
}

/* Images */
.johann-image-header {
  width: 34px;
  height: 34px;
  border-radius: 999px;
}

.johann-image {
  border-radius: 25%;
  align-self: center;
  display: flex;
  height: 135px;
  justify-content: center;
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-content {
  background-color: rgb(225, 199, 229);
  margin: 5px 35px 0px 0px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.0em;
}

.page-content h2 {
  text-align: center;
}

.page-profile {
  background-color: rgb(238, 223, 241);
  margin: 5px 0px 35px 35px;
  padding: 5px 22px;
}

.welcome {
  padding: 0px 15px 0px 15px;
}
